*.xml
Game1/Game1/Game1/obj/x86/Debug/Game1.csproj.FileListAbsolute.txt
Game1/Game1/Game1Content/obj/x86/Debug/Game1Content.contentproj.FileListAbsolute.txt
Game1/Game1/Game1/obj/x86/Release/Microsoft.Xna.Framework.RuntimeProfile.txt