*.xml
Game1/Game1/Game1/obj/x86/Debug/Game1.csproj.FileListAbsolute.txt
Game1/Game1/Game1Content/obj/x86/Debug/Game1Content.contentproj.FileListAbsolute.txt
Game1/Game1/Game1/obj/x86/Release/Microsoft.Xna.Framework.RuntimeProfile.txt
Game1/Game1/Game1/bin/x86/Debug/Game1.exe
Game1/Game1/Game1/bin/x86/Debug/Game1.pdb
Game1/Game1/Game1/bin/x86/Debug/Microsoft.Xna.Framework.dll
Game1/Game1/Game1/bin/x86/Debug/Microsoft.Xna.Framework.Game.dll
Game1/Game1/Game1/bin/x86/Debug/Microsoft.Xna.Framework.GamerServices.dll
Game1/Game1/Game1/bin/x86/Debug/Microsoft.Xna.Framework.Graphics.dll
Game1/Game1/Game1/bin/x86/Debug/Microsoft.Xna.Framework.Input.Touch.dll
Game1/Game1/Game1/obj/x86/Debug/Game1.exe
Game1/Game1/Game1/obj/x86/Debug/Game1.pdb
Game1/Game1/Game1/bin/x86/Debug/Content/SpriteFont1.xnb
*.xnb
*.dll
*.pdb

